@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@700&family=Laila:wght@500&display=swap');

/* Wildcard code to ease the process of positioning - from Code institute Love Running project */

* {
    padding: 0;
    margin: 0;
}

/* Hide class to hide elements to be able to control visibility of elements in js */

.hide {
    display: none;
}

/* Styling of header div */

#header-div {
    color: black;
    top: 0;
    display: block;
    align-items: center;
    justify-content: center;
}

/* Styling of body  */

body {
    color: white;
    font-family: Alexandria, sans-serif;
    text-align: center;
}

/* Accessing , positioning and styling of background image  */

#background-image {
    background: url('../images/quiz-background.jpg') no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 50px;
    width: auto;
}

/* Styling of h elements  */

h1 {
    font-family: Alexandria, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
}

h2 {
    font-family: Alexandria, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
}

/* Styling of all buttons on page  */

button {
    position: relative;
    display: block;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 15px;
    background-color: whitesmoke;
    font-family: Laila, Helvetica, sans-serif;
    border-radius: 10px;
}

/* Styling and positioning of question container */

#question-container-main {
    background-color: #3e403f;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 60%;
    position: relative;
    display: inline-block;
}

/* Specific styling of individual start, restart and next buttons */

#start-btn {
    height: 80px;
    width: 100px;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 20px;
    top: 160px;
}

#next-btn,
#restart-btn {
    height: 50px;
    width: 80px;
    top: 20px;
    position: relative;
}

/* Hover cursor effect of buttons */

button:hover {
    cursor: pointer;
}

/* Styling of explaination div  */

#explaination {
    width: 480px;
    padding: 5px;
    text-align: justify;
}

/* Media queries for screen sizes min-width 900px */

@media (max-width: 900px) {

    #question-container-main {
        width: auto;
        height: 550px;
        margin-left: 25%;

    }

    button {
        margin-left: 100px;
    }

    #next-btn {
        margin-left: 250px;
    }

    #restart-btn {
        margin-left: 150px;
        margin-top: 200px;
    }

    #start-btn {
        margin-top: 100px;
    }

    #explaination {
        width: auto;
    }
}

/* Media queries for screen sizes min-width 200px */

@media (min-width: 200px) {

    #question-container-main {
        padding: 5px;
        width: 270px;
        height: 600px;
        margin-left: -50px;
    }


    h1 {
        text-align: left;

    }


    h2 {
        margin-right: 25px;
    }

    #explaination {
        width: 90%;
    }

    #background-image {
        height: 700px;
        width: auto;
        background-size: cover;
    }

    .btn {
        margin-left: 33px;
    }

    #next-btn {
        margin-left: 185px;
    }

    #restart-btn {
        margin-left: 95px;
    }

}