@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
    background-color: peachpuff;
    font-family: Sen, sans-serif;
}

button {
    background-color: peachpuff;
    border: 0;
}

button:hover {
    opacity: 0.5;
}

#logo-container {
    margin: 0 auto;
    text-align: center;
}

#logo {
    font-size: 50px;
}

#hammer-emoji {
    margin: 50px;
    font-size: 500px;
}

.emoji {
    font-size: 80px;
    color: #3a3a3a;
}
 
#game-container {
    padding: 30px;
    text-align: center;
}

#submit-btn {
    font-family: Sen, sans-serif;
    font-size: 25px;
    background-color: peachpuff;
    border-radius: 10%;
    height: 50px;
    width: 100px;
    text-align: center;
}



