@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@700&family=Laila:wght@500&display=swap');

.hide {
    display: none;
}

#header-div {
    color: black;
    border-radius: 20px;
    top: 0;
    position: fixed;
    margin-left: 120px;
    display: block;
}

body {
    color: white;
    font-family: Alexandria, sans-serif;
}

#background-image {
    background: url('/assets/images/quiz-background.jpg') no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
    padding: 100px;
    width: 100%;
    margin-top: 80px;
}

h1 {
    font-family: Alexandria, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: Alexandria, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;;
}

button {
    position: relative;
    display: block;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    font-family: Laila, Helvetica, sans-serif;
    margin-left: 200px;
    border-radius: 10px;
}

#question-container-main {
background-color: #3e403f;
justify-content: center;
align-items: center;
opacity: 0.95;
width: 600px;
height: 400px;
border-radius: 10px;
padding: 10px;
margin: 0 auto;
}

#start-btn {
    height: 80px;
    width: 100px;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 20px;
    top: 160px;
}

#next-btn, #restart-btn {
    height: 50px;
    width: 80px;
    margin-left: 510px;
    top: 540px;
    position: fixed;
}

button:hover {
    cursor: pointer;
    font-weight: 400;
}

#explaination {
    width: 480px;
    text-align: justify;
}


@media (max-width: 800px) {

    #question-container-main {
        width: auto;
    }
}